.navigation-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--blue-300);
  width: 295px;
  height: 54px;
}
.tab-1,
.tab-2 {
  position: absolute;
  top: 4px;
  width: 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0;
  box-sizing: border-box;
}
.tab-1 {
  left: 4px;
  border-radius: var(--br-9xl);
  background-color: var(--white-500);
}
.tab-2 {
  left: 147px;
  border-radius: 60px;
  color: var(--text-sub);
}
.navigation {
  position: absolute;
  top: 167px;
  left: 40px;
  width: 295px;
  height: 54px;
}
.hello-there {
  position: relative;
  line-height: 160%;
  text-transform: capitalize;
}
.wellcome-back {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  font-weight: 500;
  color: var(--white-500);
  text-align: left;
}
.geeting {
  position: absolute;
  top: 86px;
  left: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px 0;
  color: var(--color-gray-200);
}
.box {
  width: 20px;
  position: relative;
  border-radius: var(--br-7xs);
  border: 1.5px solid var(--grey-500-main);
  box-sizing: border-box;
  height: 20px;
  opacity: 0.8;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs);
}
.stay-loggined {
  position: relative;
  line-height: 160%;
}
.checkbox-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.forgot-password {
  position: relative;
  line-height: 130%;
  font-weight: 500;
  color: var(--blue-500-main);
  text-align: right;
}
.action,
.login-to-your {
  position: absolute;
  left: 20px;
}
.action {
  top: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 113px;
}
.login-to-your {
  top: 24px;
  font-size: var(--regular-size);
  line-height: 130%;
}
.form-title {
  position: relative;
  line-height: 130%;
}
.card-icon {
  width: 24px;
  position: relative;
  height: 24px;
  display: none;
}
.type-anything-parent {
  flex: 1;
  flex-direction: row;
  gap: 0 155px;
}
.form-inner,
.form1,
.type-anything-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-inner {
  width: 336.5px;
  border-radius: var(--br-9xl);
  border: 1.5px solid var(--lgrey-500-main);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-base);
  color: var(--grey-500-main);
}
.form1 {
  flex-direction: column;
  gap: 8px 0;
}
.iconlylighthide {
  width: 22px;
  position: relative;
  height: 22px;
}
.type-anything-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form {
  top: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  font-size: var(--paragraph-small-heavy-size);
}
.button,
.form,
.make-sure-that {
  position: absolute;
  left: 20px;
}
.make-sure-that {
  top: 51px;
  line-height: 160%;
  color: var(--grey-500-main);
}
.button {
  top: 430px;
  border-radius: var(--br-9xl);
  background-color: var(--primary1);
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-76xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--paragraph-small-heavy-size);
  color: var(--white-500);
}
.container {
  position: absolute;
  top: 280px;
  left: 22px;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--white-500);
  width: 385px;
  height: 533.4px;
  text-align: left;
  font-size: var(--caption-regular-size);
}
.time4 {
  position: absolute;
  top: calc(50% - 12px);
  left: 21px;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
}
.rectangle9,
.vector-icon6 {
  position: absolute;
  mix-blend-mode: normal;
}
.rectangle9 {
  top: calc(50% - 5.5px);
  right: 2.7px;
  border-radius: 2.67px;
  border: 1px solid var(--white-500);
  box-sizing: border-box;
  width: 22px;
  height: 11px;
  opacity: 0.35;
}
.vector-icon6 {
  top: calc(50% - 1.5px);
  right: 0.1px;
  width: 1.3px;
  height: 4px;
  opacity: 0.4;
}
.rectangle10 {
  position: absolute;
  top: calc(50% - 3.5px);
  right: 4.7px;
  border-radius: 1.33px;
  background-color: var(--white-500);
  width: 18px;
  height: 7px;
}
.group4 {
  position: absolute;
  top: calc(50% - 5px);
  right: 14.3px;
  width: 24.7px;
  height: 11px;
}
.exclude-icon8,
.exclude-icon9 {
  position: relative;
  width: 15.3px;
  height: 11px;
}
.exclude-icon9 {
  width: 17px;
  height: 10.7px;
}
.system-light-status-bar4 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  font-size: var(--font-size-mini);
  color: var(--white-500);
  font-family: var(--caption-regular);
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--primary1);
  height: 926px;
  overflow: hidden;
  text-align: center;
  font-size: var(--paragraph-small-heavy-size);
  color: var(--black-500-main);
  font-family: var(--text-md-bold);
}
