.time8 {
  position: absolute;
  top: calc(50% - 12px);
  left: 21px;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
}
.rectangle17,
.vector-icon10 {
  position: absolute;
  mix-blend-mode: normal;
}
.rectangle17 {
  top: calc(50% - 5.5px);
  right: 2.7px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 22px;
  height: 11px;
  opacity: 0.35;
}
.vector-icon10 {
  top: calc(50% - 1.5px);
  right: 0.1px;
  width: 1.3px;
  height: 4px;
  opacity: 0.4;
}
.rectangle18 {
  position: absolute;
  top: calc(50% - 3.5px);
  right: 4.7px;
  border-radius: 1.33px;
  background-color: var(--color-gray-100);
  width: 18px;
  height: 7px;
}
.group8 {
  position: absolute;
  top: calc(50% - 5px);
  right: 14.3px;
  width: 24.7px;
  height: 11px;
}
.exclude-icon16,
.exclude-icon17 {
  position: relative;
  width: 15.3px;
  height: 11px;
}
.exclude-icon17 {
  width: 17px;
  height: 10.7px;
}
.system-light-status-bar8 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
}
.logo-1-icon {
  position: absolute;
  top: 391px;
  left: 120px;
  width: 189px;
  height: 143px;
  object-fit: cover;
}
.spalsh {
  width: 100%;
  position: relative;
  background-color: var(--white-500);
  height: 926px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  font-family: var(--caption-regular);
}
